# Notes
* original dataset: https://www.kaggle.com/competitions/fake-news/data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
input_path = "./data/"

submit = pd.read_csv(input_path + "submit.csv") # sample labels; I think it's just to show format of output for test predictions
test = pd.read_csv(input_path + "test.csv")
train = pd.read_csv(input_path + "train.csv")

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.porter import PorterStemmer


tfidf = TfidfVectorizer

,id,title,author,text,label
53,53,NaN,Dairy✓ᵀᴿᵁᴹᴾ,Sounds like he has our president pegged. What ...,1
120,120,NaN,Anonymous,"Same people all the time , i dont know how you...",1
124,124,NaN,SeekSearchDestory,"You know, outside of any morality arguments, i...",1
140,140,NaN,Anonymous,There is a lot more than meets the eye to this...,1
196,196,NaN,Raffie,They got the heater turned up on high.,1
...,...,...,...,...,...
20568,20568,NaN,Cathy Milne,"Amusing comment Gary! “Those week!” So, are ...",1
20627,20627,NaN,Ramona,"No she doesn’t have more money than God, every...",1
20636,20636,NaN,Dave Lowery,Trump all the way!,1
20771,20771,NaN,Letsbereal,DYN's Statement on Last Week's Botnet Attack h...,1
20772,20772,NaN,beersession,Kinda reminds me of when Carter gave away the ...,1

In [23]:
train[(~train.text.isna())&(train.text.str.match(r'^[^a-zA-Z0-9!@#$&()\-`.+,/"\'\\]*$', case=False))]

,id,title,author,text,label
82,82,Huma’s Weiner Dogs Hillary,Steve Sailer,,1
169,169,Mohamad Khweis: Another “Virginia Man” (Palest...,James Fulford,,1
295,295,A Connecticut Reader Reports Record Voter Regi...,VDARE.com Reader,,1
470,470,BULLETIN: There ARE Righteous Jews For Trump!;...,admin,,1
592,592,Is your promising internet career over now Vin...,newsbiscuit editorial team,,1
...,...,...,...,...,...
19929,19929,98% of public now ‘really looking forward’ to ...,NewsBiscuit,,1
20141,20141,Thomas Frank Explores Whether Hillary Clinton ...,NaN,,1
20242,20242,Radio Derb Transcript For October 21 Up: The M...,John Derbyshire,,1
20264,20264,Pro-sovereignty Legislators Demand That Admini...,Brenda Walker,,1
20513,20513,SAID IN SPANISH: A Mexican Governor Meddles In...,Allan Wall,,1